<!-- Sección del logo y equipo -->
<div class="mainDiv">
  <div class="container text-center mt-5">
    <img class="rounded-lg shadow-lg mb-4" src="../../assets/img/logo.png" alt="Logo" style="max-width: 400px;">
  </div>

  <!-- Sección de los miembros del equipo -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <div class="card team-card shadow-sm mb-4">
          <div class="card-img-container">
            <img class="card-img-top" src="../../assets/img/team1.jpg" alt="Team Member 1">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Aurora Cuadra</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card team-card shadow-sm mb-4">
          <div class="card-img-container">
            <img class="card-img-top" src="../../assets/img/team3.jpg" alt="Team Member 2">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">John Del Rosario</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card team-card shadow-sm mb-4">
          <div class="card-img-container">
            <img class="card-img-top" src="../../assets/img/team2.jpg" alt="Team Member 3">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Jorge Martinez</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección de descripción -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card description-card shadow-lg mb-4">
          <div class="card-body">
            <h2 class="form-titulo text-center mb-4">¿Quiénes somos?</h2>
            <p class="form-texto">Somos una plataforma dedicada a mejorar la organización personal a través de nuestras herramientas de gestión de notas. Nuestra misión es facilitar tu día a día manteniendo tus pensamientos y tareas organizadas de manera eficiente.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card description-card shadow-lg mb-4">
          <div class="card-body">
            <h2 class="form-titulo text-center mb-4">¿Para qué sirve?</h2>
            <p class="form-texto">Nuestra aplicación de notas te ayuda a mantener tus ideas, tareas y pensamientos organizados de manera eficiente y segura. Gestiona tus notas fácilmente, accede desde cualquier lugar y mantén tus datos protegidos.</p>
            <p class="form-texto">Empieza hoy mismo y descubre cómo mejorar tu productividad con nuestra aplicación de notas.</p>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
